@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.leaflet-container {
  width: 1240px;
  height: 675px;
}

@media screen and (max-width: 940px) {
  .leaflet-container {
    width: 768px;
    height: 432px;
  }
}

@media screen and (max-width: 768px) {
  .leaflet-container {
    width: 640px;
    height: 432px;
  }
}

@media screen and (max-width: 567px) {
  .leaflet-container {
    width: 548px;
    height: 308px;
  }
}
