@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.MapContainer {
  width: 1280px;
  height: 675px;
}

@media screen and (max-width: 768px) {
  .MapContainer {
    width: 800px;
    height: 432px;
  }
}

@media screen and (max-width: 567px) {
  .MapContainer {
    width: 384px;
    height: 216px;
  }
}
